html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#logo {
    float: left;
    width: 50px;
    height: auto;
}
#login {
    float: right;
}
.boxwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#box3 {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    /* border: solid 1px green */
}

.left {
    flex-grow: 1.3;
    display: flex;
    flex-direction: column;
}
#assessments {
    border: solid 1px orange
}
#recent-updates {
    border: solid 1px green
}
#completed {
    border: solid 1px red
}
.middle-column {
    flex-grow: 2.5;
    display: flex;
    flex-direction: column;
}

.middle-column div {
    flex-grow: 1;
    margin: 0 8px;
    border: solid 1px red;
}

.middle-column div+div {
    margin-top: 8px
}
.right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#recommended {
    flex-grow: 1;
    border: solid 1px black
}
#reminder {
    flex-grow: 0.7;
    border: solid 1px black
}