.demo-layout-transparent {
    background: #ffffff
  }


.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
          your background is light. */
    color: black;
  }

div.center {
    display: block;
    margin: auto;
    text-align: center;
  }
  body {
    background-color: white;
  }

.center {
    margin-left: auto;
    margin-right: auto;
}

.centerText {
  text-align:center;
}

.fullWidth {
  width: 100%;
}